.advantages-list {
  list-style: none;
}

.advantages-list__description {
  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(68, 68, 68, 1);
}
