.catalog__wrapper {
  @media (min-width: @tablet-width) {
    max-width: 900px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    max-width: 1220px;
  }
}

.catalog__main-title {
  margin-bottom: 10px;
  margin-left: 0;

  @media (min-width: @tablet-width) {
    margin-top: 10px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 20px;
  }
}
