.food-item {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 324px;
  }
}

.food-item__head {
  font-size: 16px;
  line-height: 20px;
  color: @text-color-darker-grey;
}

.food-item__row {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}
