.main-promo {
  background-color: rgba(104, 183, 56, 0.85);
}

.main-title {
  color: @text-color-white;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.subtitle {
  color: @text-color-white;
  font-size: 14px;
  line-height: 14px;
}

.main-promo__button {
  color: @text-color-white;
  background-color: rgba(104, 183, 56, 0.85);
  font-size: 14px;
  line-height: 18px;
}
