.main-title {
  color: @text-color-white;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: @text-color-black;
  }
}

.main-title__subtitle {
  color: @text-color-white;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: @text-color-black;
  }
}

.main-title_black {
  color: @text-color-black;
}
