.main-promo {
  background-color: rgba(104, 183, 56, 0.85);
}

.main-promo__button {
  color: @text-color-white;
  background-color: rgba(104, 183, 56, 0.85);
  font-size: 14px;
  line-height: 18px;
}
