.main-promo {
  position: relative;
  min-width: 320px;

  @media (min-width: @desktop-width) {
    margin-bottom: 265px;
  }
}

.main-promo__wrapper {
  position: relative;
  background: linear-gradient(fade(@green, 70%), fade(@green, 70%)),
    no-repeat url("../../img/jpeg/promo-background.jpg");
  padding-bottom: 135px;
  text-align: center;

  @media (min-width: @tablet-width) {
    background: none;
    text-align: start;
    padding-bottom: 600px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 90px;
  }
}

.main-promo__wrapper::after {
  @media (min-width: @desktop-width) {
    content: "";
    position: absolute;
    width: 720px;
    height: 695px;
    top: -200px;
    right: -110px;
    z-index: -1;
    background: linear-gradient(fade(@green, 70%), fade(@green, 70%)),
      no-repeat url("../../img/jpeg/promo-background.jpg");
  }
}

.main-promo__img {
  position: absolute;
  top: 165px;
  left: 30px;

  @media (min-width: @tablet-width) {
    top: 250px;
    left: 150px;
  }

  @media (min-width: @desktop-width) {
    left: 550px;
    top: 20px;
  }
}

.main-promo__button {
  display: block;
  color: @text-color-white;
  background-color: @green;
  font-size: 14px;
  line-height: 18px;
  width: 280px;
  height: 40px;
  box-sizing: border-box;
  margin: 140px auto 0 auto;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 100px;
    left: 90px;
    font-size: 20px;
    line-height: 20px;
    width: 244px;
  }
}
