.page-header {
  padding: 10px 0 0;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    margin-top: 50px;
  }
}

.page-header__logo {
  margin-top: 10px;
}
