.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  color: @text-color-black;

  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
  }
}
